#resume {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

#resume a,
#resume a:visited {
  color: #0762f9;
}
#resume a:hover,
#resume a:focus {
  color: #313131;
}

#resume h1 {
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#resume h1 span {
  border-bottom: 3px solid #0762f9;
  padding-bottom: 6px;
}
#resume h3 {
  font: 25px/30px 'opensans-bold', sans-serif;
}

#resume .header-col {
  padding-top: 9px;
}
#resume .main-col {
  padding-right: 10%;
}

.education,
.work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}
#resume .info {
  font: 16px/24px 'librebaskerville-italic', serif;
  color: #6e7881;
  margin-bottom: 18px;
  margin-top: 9px;
}
#resume .info span {
  margin-right: 5px;
  margin-left: 5px;
}
#resume .date {
  font: 15px/24px 'opensans-regular', sans-serif;
  margin-top: 6px;
}

.responsibility-list-item {
  margin-bottom: 0.5rem;
  overflow-wrap: break-word;
  list-style-type: none;
}

.responsibility-icon {
  color: #3bb4d8;
  margin-right: 0.5rem !important;
  padding: 0 !important;
}

.responsibility-content {
  font-weight: normal;
}
