.Demo-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Demo-controls__control {
  margin-top: 6px;
  border-radius: 2px;
  border: 1px solid #007aff;
  color: #007aff;
  text-align: center;
  line-height: 50px;
  width: 100px;
  height: 50px;
  font-size: 11px;
  cursor: pointer;
}

.Demo-controls__control:not(:last-of-type) {
  margin-right: 15px;
}

.swiper_con {
  width: 90%;
  height: auto;
  margin-top: 10px;
}

.user_photo {
  width: auto;
  height: auto;
  margin: center;
  border-radius: 15px;
}

.slide {
  width: auto;
  height: auto;
  align-items: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 80%;
}

.slide:nth-child() {
  width: 60%;
}
